/* vi: set syntax=scss: */
@import "compass/reset";
@import "contrib/autoSuggest";
@import "contrib/jquery-ui";
@import "contrib/jquery-ui-timepicker-addon";
@import "contrib/demo_table_jui.css";
@import "compass/css3";
@import "compass/utilities/color";
@import "base";

$total-cols: 14;

@mixin divsizing {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@mixin reverse-colors {
    color: $other-text-color;
    background: $main-color;
}

* {
    color: $main-color; 
    font-family: sans-serif;
} /* #222 is good too */

* { @include divsizing; }

html { 
    margin: 0; padding: 0;
    background: $page-background;
    background-image: -moz-radial-gradient(50% 50.5%, circle farthest-corner, $page-background 0%, $page-background 50%, #ddd 97%, #ccc 98.5%, #aaa 100%); background-image: radial-gradient(50% 50.5%, circle farthest-corner, $page-background 0%, $page-background 50%, #ddd 97%, #ccc 98.5%, #aaa 100%);
}

// body { font-size: 1.1em; left-margin: 0em; right-margin: 0em; top-margin: 0em; bottom-margin: 0em; line-height: 1.8em; 
//    font-family: sans-serif;
// }

body { line-height: 140%; font-family: sans-serif;}

h2 { font-size: 120%; }
h3 { font-weight: bold; }

.note { font-style: italic; font-size: 90%; }

select { 
    padding: 0.2em;
    color: $main-color;
    background: $page-background;
    font-size: 1.1em;
    display: inline-block;
    height: 1.7em;
    border: 1px solid lighten($main-color, 10%);
}
option {
    color: $main-color;
    background-color: $page-background;
    padding: 0.2em;
    margin: 0.5em;
}



a { text-shadow: 1px 0px 2px $other-text-color;
    font-family:  sans-serif;
}

.topbar {
    text-align: right; 
    width: 100%; 
    @include reverse-colors;
    position: fixed;
    opacity: 1;
    top: 0; left: 0; right: 0;
    font-size: 0.8em;
}
.container {
    @include container;
    // @include susy-grid-background;
    margin-top: 3em;
    width: 73em;
    @include divsizing;
}

nav {
    @include columns(3);
    @include alpha;
    padding: 0.5em;
    border: 1px solid $main-color;
    line-height: 2em;
    @include divsizing;
}

button#new-plan {float: right; margin-top: 0.5em;}

#plan_list {
    padding: 1em;
    .plan-box {
        padding: 0.5em;
        margin: 1em;
        border: 1px solid $main-color;
        .plan-title {
            font-size: 110%;
            font-weight: bold;
            }
    }
}

div[role="main"] {   
    @include columns(11);
    @include omega;
    @include divsizing;
    .content {
        @include columns(11,11);
        @include omega;
        @include divsizing;
        @include pad(0.3, 0.3);
        border: 1px solid $main-color;
        background: lighten($page-background, 1%);
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        // text-align: center;
        @include box-shadow(0 0 6px rgba(0,0,0,0.5));
    }
    .searchbox {
        text-align: right;
        @include full;
        @include divsizing;
        .search-label { 
            @include columns(4, 11);
            padding-bottom: 1em;
        }
        .search-input {
            //@include columns(5, 9);
            //@include omega;
            height: 100%;
            width: 100%;
            display: inline;
        }
    }
}

.as-results { margin-left:20em; }
li.as-result-item.active { background: $main-color;} 
input, textarea, select, .uneditable-input { color: $main-color; font-size: 90%; }

.field-container {
    @include columns(11);
    text-align: left;

    .field-name {
        text-align: right;
        @include columns(3, 11);
        @include divsizing;
    }
    .field-value {
        font-weight: bold;
        white-space: pre-wrap;
        @include columns(5, 11);
        // @include omega;
        @include divsizing;
    }
}


#activities {
    margin-top: 1em;
    li {
        .date { 
            color: lighten($main-color, 20%);
            font-size: 85%;
        }
        a {
            border-bottom: 1px dotted $main-color;
            text-shadow: 1px 0px 1px lighten($main-color, 15%);
            text-decoration: none;
            &:hover { border-bottom: 1px solid $main-color; }
        }
    }
}


ul.as-selections {
    font-size: 1.1em;
    height: 1.5em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    padding: 0;
    input {
        font-size: 1.1em;
        height: 1.5em;
        background: darken($page-background, 5%);
        width: 100%;
        height: 100%;
        margin: 0;
    }
    li {
        .as-original {
            width: 100%;
            height: 100%;
            input {
                width: 100%;
                height: 100%;
            }
        }
        .search-input-as-input {
            width: 100%;
            height: 100%;
        }
    }
}
ul.as-selections li.as-original { width: 100%; height: 100%; overflow: hidden; margin: 0; }

input { 
    text-align: left;
    font-size: 1.1em;
    height: 1.5em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    @include divsizing;
}

textarea { 
    text-align: left;
    font-size: 1.1em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    @include divsizing;
}

form.profile-forms {
    line-height: 2.5em;
    label {
        @include columns(2, 11);
        font-size: 0.9em;
        text-align: right;
    }
    .input-section {
        @include divsizing;
    }
    .buttons {
        @include divsizing;
        @include pad(2, 0);
        border-top: 1px solid lighten($main-color, 10%);
    }
}

form#social_edit_form input {
    font-size: 1.1em;
}

form input[required] { 
    // color: red; 
    background: darken($page-background, 10%);
    border: 1.5px solid $imp-color;
}

button, input[type="button"] {
    padding: 0em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: 1em;
    color: $other-text-color;
    background: $main-color;
    border: 1px solid $page-background;
    @include box-shadow(0 0 6px rgba(0,0,0,0.5));
}

.big-button {
    @extend button;
    font-size: 1.2em;
    margin: 1em;
}

.submit-btns {
    text-align: center;
}
button:hover {
    background: $page-background;
    border: 1px solid $main-color;
    background: $other-text-color;
    color: $main-color;
}
button[disabled], button[disabled]:hover {
    color: lighten($other-text-color, 20%);
    background: lighten($main-color, 20%);
    border: 1px solid lighten($page-background, 20%);
}
.nav-opt {
    font-family: "Monospace";
    display: none;
    margin-left: 2em;
}
.nav-opt-current { display: block; }
.nav-opt a {
    text-decoration: none; 
    display: inline;
}
nav h2 {cursor: pointer;
    font-family: "Sans-serif", Tahoma;
    font-weight: normal;
}
.nav-current:before { content: "→";}
.nav-opt-item-current:before { content: "→";}
nav h2 a {
    text-decoration: none; 
    color: inherit;
}
nav h2 a:active {background: gray;}

.topbar a {text-decoration: none; color: $other-text-color; padding: 1em;}
.topbar .logo {float: left; display: inline; color: $other-text-color;}

.bottombar {text-align: center; width: 100%; background: $main-color; color: $other-text-color; position: fixed; bottom: 0; left: 0; right: 0; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;}
.bottombar a {text-decoration: none; color: $other-text-color; padding: 1em;}

.inverse-box {
    padding: 2em;
    font-size: 130%;
    color: $other-text-color;
    margin-top: 1em;
    @include single-box-shadow($main-color);
    background-color: $main-color;
    label { color: $other-text-color; } 
    .action-status { color: $other-text-color;}
    .placeholder-visible, .placeholder-invisible {color: $main-color;}
}

#login-side-container { 
    float: right;
    padding: 2em; 
    padding-bottom: 0.5em;
    //border: 1px solid $main-color;
    opacity: 0.85; 
    margin: 0 0 0 50%;
    position: absolute;
    z-index: 100;
    .signup { 
        color: $other-text-color;
        font-size: 130%;
    }
}

.login-img {opacity: 0.2;}

.edit-link-box { text-align: right; }

.content .content-title {
    font-size: 2.2em;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    @include full;
    border-bottom: 1px solid;
    .content-subtitle { font-style: italic; }
}
table.stripped {
    margin: 0 0 0.7em;
    th {text-shadow: 1px 0px 1px lighten($main-color, 15%);}
    caption {font-size: 120%; border-bottom: 1px solid; }
    tr {
        border-bottom: 1px solid lighten($main-color, 20%);
        &:nth-child(odd) { background-color: darken($page-background, 10%); }
        &:hover { background-color: darken($page-background, 10%);  }
    }
    th, td {
        padding: 0 0.3em 0 0.3em;
        text-align: left;
        // &:nth-child(odd) { background-color: $page-background; }
    }
}

.date {font-style: italic;}

.cancel-x {
    color: $imp-color;
    font-size: 110%;
}

.right-action {float: right; position: static;}

form.vform {
    label {
        font-size: 110%;
        display: block;
        line-height: 1.2em;
    }
    .field {
        padding-bottom: 0.3em;
    }
    .field .field-input {
        height: 120%;
        display: block;
        width: 90%;
    }
    .field-help {
        font-style: italic;
        display: block;
    }
    .buttons {
        border-top: 1px solid lighten($main-color, 10%);
        margin-top: 1em;
        text-align: center;
    }
}

form.hform {
    line-height: 2.5em;
    .field-label {
        width: 25%;
        text-align: right;
        display: inline-block;
        vertical-align: top;
        padding: 0 0.5em 0 0;
    }
    .field-input {
        width: 60%;
    }
    textarea {
        height: 9em;
    }
    .field-help {
        font-style: italic;
        display: block;
        margin-left: 25%;
    }
    .buttons {
        @include divsizing;
        @include pad(2, 0);
        border-top: 1px solid lighten($main-color, 10%);
    }
}

#invoice-form-container {
    @include columns(11, 11);
    // @include omega;
    border: 1px solid $main-color;
    margin-top: 1em; 
    #invoice-header {
        @include columns(11, 11);
        letter-spacing: 1em;
        @include reverse-colors;
        text-align: center;
    }
    #invoice-content {
        margin-top: 0.3em;
        @include columns(11, 11);
        @include divsizing;
        @include pad(0.2, 0.2);
        @include omega;
        #col1 { 
            @include columns(5, 11);
            @include divsizing;
            div { width: 100%; }
            input {width: 90%;}
        }
        #col2 {
            @include columns(6, 11);
            @include omega;
            @include divsizing;
            margin: 0; // hack
            div { width: 100%; }
            input {width: 100%;}
            td {
                text-align: right;
                padding: 0.2em 0.3em;
                }
            tr {border: none;}
            padding: 0.5em;
        }
        .invoice-form-notice { @include full; }
        input {
            border: none;
            border-bottom: 1px solid $main-color; 
            background: none;
        }
        textarea { 
            width: 90%;
            border-bottom: 1px solid $main-color; 
            border-right: 1px solid $main-color; 
            background: none;
        }
        input:hover { background: $page-background; }
        #invoicee-info { 
            font-family: "Monospace";
            margin-top: 0.3em;
            border: 1px solid $main-color; 
        }
    }
}

.invoice-buttons {
    text-align: center;
    margin: 1em;
    border-top: 1px solid $main-color;
    #action-status { font-size: 90%; font-style: italic; }
}

#history_table {
    width: 100%;
    td, th { padding: 0.3em; }
}
.status-success:before { font-size: 120%; content: "☑";}
.status-fail { color: $imp-color; }
.invoice-logo { height: 10em; width: 10em;}
#ui-datepicker-div, .hidden { display: none; visibility: none; z-index: 1021 !important;} // ugly hack
#signup-box.ui-widget-content{color:$other-text-color;background-color:$main-color;background:$main-color;}
#signup-box.ui-widget-content label{color:$other-text-color;}
.ui-icon { display: inline-block; }
