/* vi: set syntax=scss: */
@import "compass/reset";
@import "contrib/autoSuggest";
@import "contrib/jquery-ui";
@import "contrib/jquery-ui-timepicker-addon";
@import "contrib/demo_table_jui";
@import "compass/css3";
@import "compass/utilities/color";
@import "base";

$total-cols: 14;

@mixin divsizing {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@mixin reverse-colors {
    color: $other-text-color;
    background: $main-color;
}

.simple-box {
    @include box-shadow($main-color 3px 3px 3px);
}

.opaq { opacity: 0.6; }


* {
    color: $main-color; 
} /* #222 is good too */

* { @include divsizing; }

html { 
    margin: 0; padding: 0;
    background: $page-background;
    // background-image: -moz-radial-gradient(50% 50.5%, circle farthest-corner, $page-background 0%, $page-background 50%, #ddd 97%, #ccc 98.5%, #aaa 100%); background-image: radial-gradient(50% 50.5%, circle farthest-corner, $page-background 0%, $page-background 50%, #ddd 97%, #ccc 98.5%, #aaa 100%);
}

// body { font-size: 1.1em; left-margin: 0em; right-margin: 0em; top-margin: 0em; bottom-margin: 0em; line-height: 1.8em; 
//    font-family: sans-serif;
// }

body { 
    line-height: 140%;
    font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
    font-size: 105%;
}

nav {
    line-height: 2em;
    width: auto;
    border: 1px solid $main-color;
    padding: 0;
    z-index: 100;
    background: $page-background;
    width: inherit;
    position: absolute;
    text-align: right;
    a {
        display: block;
        text-decoration: none; 
        color: inherit;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    a:active {background: gray;}

    #context-select, #context-single {
        float: left;
        width: 25%;
        border: none;
        border-left: 1px solid;
        height: 100%;
        width: 25%;
    }
    
    .menu {
        display: inline-block;
        .current { 
            color: $main-color;
            background: $other-text-color;
            border-left: 1px solid;
        }
    }

    
    .menu-item { 
        cursor: pointer;
        border: 0;
        border-right: 1px outset $main-color;
        display: inline-block;
        text-decoration: none;
        padding: 0em;

        color: $other-text-color;
        background: $main-color;
        a {
            // font-weight: bold;
            text-decoration: none;
            text-shadow: none;
        }
    }

    .submenu-container {
        border-top: 1px solid $main-color;
        text-align: right;
    }

    .submenu-box {
        column-count: 3;
        column-gap: 1em;
        column-rule: 1px solid lighten($main-color, 20%);
        column-width: auto;
        -moz-column-count: 3;
        -moz-column-gap: 1em;
        -moz-column-rule: 1px solid lighten($main-color, 20%);
        -moz-column-width: auto;
        -webkit-column-count: 3;
        -webkit-column-gap: 1em;
        -webkit-column-rule: 1px solid lighten($main-color, 20%);
        -webkit-column-width: auto;
        display: none;
        float: right;
        padding: 0.5em;
        width: 50%;
    }

    .submenu-item {
        padding: 0 1em;
        white-space: nowrap;
        .current { text-decoration: underline; }
        a {
            display: inline;
            text-decoration: none;
        }
    }
}


h2 { font-size: 120%; }
h3 { font-weight: bold; }

.note { font-style: italic; font-size: 90%; }

select { 
    padding: 0.2em;
    color: $main-color;
    background: $page-background;
    font-size: 1.1em;
    display: inline-block;
    height: 1.7em;
    border: 1px solid lighten($main-color, 10%);
}
option {
    color: $main-color;
    background-color: $page-background;
    padding: 0.2em;
    margin: 0.5em;
}



a { text-shadow: 1px 0px 2px $other-text-color;
    // font-family:  sans-serif;
}

fieldset {
    padding: 0.5em;
    border: 1px solid;
    margin-top: 1em;
}

legend {
    border:1px solid;
    padding: 0 0.5em;
}

.topbar {
    text-align: right; 
    width: 100%; 
    @include reverse-colors;
    top: 0; left: 0; right: 0;
    font-size: 0.8em;
    overflow: hidden; // stops generating browser horizontal scrollbar when it's really not required
    a {text-decoration: none; padding: 1em; color: $other-text-color;}
    .logo {float: left; display: inline; color: $other-text-color;}
}
.container {
    @include container;
    // @include susy-grid-background;
    margin-top: 3em;
    width: 73em;
    @include divsizing;
}

.section-title {
    font-size: 120%;
    border-bottom: 1px solid $main-color;
    padding: 0.4em;
    a { text-decoration: none; border-bottom: 1px dotted; }
}
.heading3 { font-size: 120%; }
.text-xl { font-size: 200%; }

.tabs {
    border-bottom: 1px solid $main-color;
    width: 100%;
    height: 2.5em;
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    margin: 0;
}

.tab-selected {
    border: 1px solid $main-color;
    border-bottom: 0;
    background: $page-background;
    height: 2.5em;
}

.tab-content {
    border: 1px solid $main-color;
    border-top: 0;
    padding: 1em;
}

.cell { display: inline-block; margin: 0.3em; }

button#new-tariff, button#new_invoice-btn, button#new_usage-btn {float: right; margin-top: 0.5em;}

.list-boxes {
    padding: 1em;
    .row {
        border: 1px solid $main-color;
        width: 100%;
        padding: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .row-title { 
        border-bottom: 1px dotted;
        font-size: 140%;
        text-decoration: none;
    }
}

#tariff_list {
    padding: 1em;
    .tariff-box {
        padding: 0.5em;
        margin: 1em;
        border: 1px solid $main-color;
        .tariff-title {
            border-bottom: 1px dotted;
            font-size: 140%;
            font-weight: bold;
            text-decoration: none;
            }
    }
}

#team_list {
    padding: 1em;
    .team-box {
        padding: 0.5em;
        margin: 1em;
        border: 1px solid $main-color;
        .team-title {
            border-bottom: 1px dotted;
            font-size: 140%;
            font-weight: bold;
            text-decoration: none;
            }

        .team_name_part {
            width: 20%;
            display: inline-block;
        }

        .team_roles_part {
            width: 60%;
            display: inline-block;
        }

        .team_delete_btn_part {
            width: 20%;
            display: inline-block;
            text-align: center;
        }
        .remove_staff {
            margin: 1em
        }
    }
}

.location-list {
    padding: 1em;
    .location-box {
        padding: 0.8em;
        margin: 1em;
        border: 1px solid $main-color;
        .location-title {
            border-bottom: 1px dotted;
            font-size: 140%;
            text-decoration: none;
        }

        .location-info {
            font-style: italic;
            margin: 0.5em;
        }

        .location-description {
            border-top: 1px solid #70964B;
            margin-top: 0.5em;
        }

        .loc_info_part {
            width: 70%;
            display: inline-block;
        }

        .loc_btns_part {
            width: 30%;
            display: inline-block;
            text-align: center;
        }

    }
}

div[role="main"] {   
    @include divsizing;
    .content {
        // @include columns(11,11);
        // @include omega;
        @include divsizing;
        width: 100%;
        padding: 1em;
        border: 1px solid $main-color;
        background: lighten($page-background, 1%);
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        float: left;
        .full { width: 100%; }
        .pane1 {
            width: 70%;
            display: inline-block;
        }
        .sidebar {
            display: inline-block;
            width: 25%;
            float: right;
            border-left: 1px solid;
            margin: 0.5em;
            padding: 1em;
            .title {
                border-bottom: 1px solid;
            }
        }
    }
}

// autocomplete, search style //
.searchbox, .select-member {
    text-align: right;
    width: 100%;
    vertical-align: middle;
    margin-top: 1em;
    .search-label { 
        @include columns(4, 11);
    }
    .search-input {
        height: 100%;
        width: 40%;
        display: inline-block;
        text-align: left;
        border: 0;
    }
}

.select-member {
    text-align: left;
}

.select-member > span { 
    margin-left: 0.5em;
    display: inline-block;
}

// .select-member .search-input { width: 60%; display: inline-block; margin-top: 1em; }

li.as-result-item.active { background: $main-color;} 
input, textarea, select, .uneditable-input { color: $main-color; font-size: 90%; }
ul.as-selection { display: inline-block; }
ul.as-selections li.as-original input { width: 100%; }

// autocomplete //

.field-container {
    @include columns(11);
    text-align: left;

    .field-name {
        text-align: right;
        @include columns(3, 11);
        @include divsizing;
    }
    .field-value {
        font-weight: bold;
        white-space: pre-wrap;
        @include columns(5, 11);
        // @include omega;
        @include divsizing;
    }
}


#activities {
    margin-top: 1em;
    li {
        .date { 
            color: lighten($main-color, 20%);
            font-size: 85%;
        }
        a {
            border-bottom: 1px dotted $main-color;
            text-shadow: 1px 0px 1px lighten($main-color, 15%);
            text-decoration: none;
            &:hover { border-bottom: 1px solid $main-color; }
        }
    }
}


ul.as-selections {
    font-size: 1.1em;
    height: 1.5em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    padding: 0;
    input {
        font-size: 1.1em;
        height: 1.5em;
        background: darken($page-background, 5%);
        width: 100%;
        height: 100%;
        margin: 0;
    }
    li {
        .as-original {
            width: 100%;
            height: 100%;
            input {
                width: 100%;
                height: 100%;
            }
        }
        .search-input-as-input {
            width: 60%;
            height: 100%;
        }
    }
}
ul.as-selections li.as-original { width: 100%; height: 100%; overflow: hidden; margin: 0; }

input { 
    text-align: left;
    font-size: 1.1em;
    height: 1.5em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    width: auto;
}

textarea { 
    text-align: left;
    font-size: 1.1em;
    background: darken($page-background, 5%);
    border: 1px solid lighten($main-color, 10%);
    @include divsizing;
    height: 6em;
}

form.profile-forms {
    line-height: 2.5em;
    label {
        @include columns(2, 11);
        // font-size: 0.9em;
        text-align: right;
    }
    .input-section {
        @include divsizing;
    }
    .buttons {
        @include divsizing;
        @include pad(2, 0);
        border-top: 1px solid lighten($main-color, 10%);
    }
    input, textarea, select {
        width: 60%;
    }
    input[type="button"], input[type="radio"] {
        width: auto;
    }

}

form#social_edit_form {
    input, textarea, select {
        font-size: 1.1em;
        width: 35%;
        margin-right: 0.3em;
    }
    input[type="button"], input[type="radio"] {
        width: auto;
    }
}

form input[required] { 
    background: darken($page-background, 10%);
}

button, input[type="button"] {
    padding: 0em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    color: $other-text-color;
    background: $main-color;
    border: 1px solid $page-background;
    font-size: 1em;
    @include box-shadow(0 0 6px rgba(0,0,0,0.5));
}

.big-button {
    @extend button;
    font-size: 1.2em;
    margin: 1em;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.submit-btns {
    text-align: center;
}
button:hover {
    background: $page-background;
    border: 1px solid $main-color;
    background: $other-text-color;
    color: $main-color;
}
button[disabled], button[disabled]:hover {
    color: lighten($other-text-color, 20%);
    background: lighten($main-color, 20%);
    border: 1px solid lighten($page-background, 20%);
}

.bottombar {
    text-align: center;
    width: 100%;
    background: $main-color;
    color: $other-text-color;
    bottom: 0; left: 0; right: 0;
    position: fixed; // else bottombar jumps up on less content
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;
    a {text-decoration: none; color: $other-text-color; padding: 1em;}
}

.inverse-box {
    padding: 2em;
    font-size: 120%;
    color: $other-text-color;
    margin-top: 1em;
    @include single-box-shadow($main-color);
    background-color: $main-color;
    label { color: $other-text-color; } 
    .action-status { color: $other-text-color;}
    .placeholder-visible, .placeholder-invisible {color: $main-color;}
}

#login-side-container { 
    float: right;
    padding: 2em; 
    padding-bottom: 0.5em;
    //border: 1px solid $main-color;
    opacity: 0.85; 
    margin: 0 0 0 50%;
    position: absolute;
    z-index: 100;
    .signup { 
        color: $other-text-color;
        font-size: 120%;
    }
}

.login-img {opacity: 0.2;}

.edit-link-box { text-align: right; }

.content-title {
    font-size: 2.2em;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    @include full;
    border-bottom: 1px solid;
    #content-subtitle { font-size: 50%; }
}

table.stripped {
    margin: 0 0 0.7em;
    th {text-shadow: 1px 0px 1px lighten($main-color, 15%);}
    caption {font-size: 120%; border-bottom: 1px solid; padding: 0.3em; }
    tr {
        border-bottom: 1px solid lighten($main-color, 20%);
        &:nth-child(odd) { background-color: darken($page-background, 10%); }
        &:hover { background-color: darken($page-background, 10%);  }
    }
    th, td {
        padding: 0 0.3em 0 0.3em;
        text-align: left;
        // &:nth-child(odd) { background-color: $page-background; }
    }
}

table.grid {
    width: 90%;
}

.date {font-style: italic;}

.cancel-x {
    color: $imp-color;
    font-size: 110%;
    text-decoration: dotted;
}

.right-action {float: right; position: static;}

form.vform {
    label {
        font-size: 110%;
        display: block;
        line-height: 1.2em;
    }
    .field {
        padding-bottom: 0.3em;
    }
    .field .field-input {
        height: 120%;
        display: block;
        width: 90%;
    }
    .field-help {
        font-style: italic;
        display: block;
        font-size: medium;
        color: lighten($main-color, 10%);
    }
    .buttons {
        border-top: 1px solid lighten($main-color, 10%);
        margin-top: 1em;
        text-align: center;
        padding: 0.5em;
    }
    .field .field-input input, input, select, textarea {
        width: 90%;
    }
    input[type="date"] {
        width: 90% !important; // webshim shrinks input size if type is date also possibly for others like required
    }
    input[type="button"], input[type="checkbox"], input[type="submit"] {
        width: auto;
        display: inline-block;
    }
}

form.hform {
    line-height: 2.5em;
    input, select, textarea  {
        width: 80%;
    }
    textarea {
        height: 9em;
    }
    .buttons {
        width: 100%;
        text-align: center;
        border-top: 1px solid lighten($main-color, 10%);
    }
    input[type="radio"]+label {
        text-align: left;
    }
    input[type="button"], input[type="radio"] {
        width: auto;
    }
    .field-input {
        display: inline-block; 
        width: 70%;
    };
    .field-label {
        display: inline-block; 
        width: 25%;
        text-align: right;
        display: inline-block;
        vertical-align: top;
        padding: 0 0.5em 0 0;
    };
    .field-help {
        font-style: italic;
        display: block;
        margin-left: 25%;
    }
}

.labeled-list {
    .label {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 0 0.5em 0 0;
    }
}

#invoice-form-container {
    @include columns(11, 11);
    // @include omega;
    border: 1px solid $main-color;
    margin-top: 1em; 
    #invoice-header {
        @include columns(11, 11);
        letter-spacing: 1em;
        @include reverse-colors;
        text-align: center;
    }
    #invoice-content {
        margin-top: 0.3em;
        @include columns(11, 11);
        @include divsizing;
        @include pad(0.2, 0.2);
        @include omega;
        #col1 { 
            @include columns(5, 11);
            @include divsizing;
            div { width: 100%; }
            input {width: 90%;}
        }
        #col2 {
            @include columns(6, 11);
            @include omega;
            @include divsizing;
            margin: 0; // hack
            div { width: 100%; }
            input {width: 100%;}
            td {
                text-align: right;
                padding: 0.2em 0.3em;
                }
            tr {border: none;}
            padding: 0.5em;
        }
        .invoice-form-notice { @include full; }
        input {
            border: none;
            border-bottom: 1px solid $main-color; 
            background: none;
        }
        textarea { 
            width: 90%;
            border-bottom: 1px solid $main-color; 
            border-right: 1px solid $main-color; 
            background: none;
        }
        input:hover { background: $page-background; }
        #invoicee-info { 
            font-family: "Monospace";
            margin-top: 0.3em;
            border: 1px dashed $main-color; 
        }
    }
}

.invoice-buttons {
    text-align: center;
    margin: 1em;
    border-top: 1px solid $main-color;
    #action-status { font-size: 90%; font-style: italic; }
}

#history_table {
    width: 100%;
    td, th { padding: 0.3em; }
}
.status-success:before { font-size: 120%; content: "☑ ";}
.status-fail { color: $imp-color; }
.invoice-logo { height: 10em; width: 10em;}

.resource-hidden {
    display: None;
}
.resource-image_part {
    width: 20%;
    display: inline-block;
    text-align: center;
}
.resource-data_part {
    width: 60%;
    display: inline-block;
}
.resource-filter_part {
    width: 20%;
    display: inline-block;
    text-align: center;
}
.resource_list-logo {
    height: 4em; 
    width: 4em;
}
input[type="button"].resource_type-show, input[type="button"].resource_filter-show {
    @extend button;
    color: $main-color;
    background: $other-text-color;
    border: 1px solid $main-color;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
input[type="button"].resource_type-hide, input[type="button"].resource_filter-hide {
    @extend button;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.resource_types, .resource_filters {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.mp-section {
    display: none;
    margin-top: 0.3em;
}
.light {
    color: lighten($main-color, 20%);
}

#current-prices {padding: 0.3em;}
#old-pricing {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#new-pricing, .pricing {
    width: 90%;
    margin-top: 1em;
    span {
        width: 25%;
        display: inline-block;
    }
    input {
        width: 80%;
    }
}

#tariff-select {
    width: 80%;
    font-size: 140%;
}
#resource-select {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#pane-resource { width: 25%; float: left; }
#pane-booking { width: 70%; float: right; }
#booking-date-inp { font-size: 80%; }

#booking-cal {
    width: 100%; 
    .cal-min15 { 
        border-bottom: 1px dotted; 
        border-right: 1px solid; 
        width: 5em;
        height: 2em;
    }
    .hour-end {
        border-bottom: 1px dashed;
    }
    .cal-day, .day-title {
        display: inline-block;
        overflow: hidden;
    }
    .day-title {
        text-align: center;
        font-size: 120%;
    }
    .cal-hour {
        height: 8em;
        width: 4em;
        border-bottom: 1px solid dashed;
    }
    .ui-selecting { background: #FECA40; }
    .ui-selected { background: #F39814; color: white; }
}

// Hacks goes here
#ui-datepicker-div, .hidden { display: none; visibility: none; z-index: 1021 !important;} // ugly hack
#signup-box.ui-widget-content{color:$other-text-color;background-color:$main-color;background:$main-color;}
#signup-box.ui-widget-content label{color:$other-text-color;}
.ui-icon { display: inline-block; }
.ui-state-default, .ui-widget-header { background: none; font-size: 110%; border: none; border-bottom: 1px solid;} // removes background images behind jqui tabs
