@import "http://fonts.googleapis.com/css?family=Droid+Serif";
* {color: #560005;} /* #222 is good too */
html { margin: 0; padding: 0; background: #f1f1f1; background-image: -moz-radial-gradient(50% 50.5%, circle farthest-corner, #f1f1f1 0%, #f1f1f1 50%, #ddd 97%, #ccc 98.5%, #aaa 100%); background-image: radial-gradient(50% 50.5%, circle farthest-corner, #f1f1f1 0%, #f1f1f1 50%, #ddd 97%, #ccc 98.5%, #aaa 100%);}
body { font-family: 'Myriad Pro', 'Droid Serif', 'Georgia', serif; font-size: 1.1em; left-margin: 0em; right-margin: 0em; top-margin: 0em; bottom-margin: 0em; line-height: 2em; }
a { text-shadow: 1px 0px 2px white; }
form {text-align: center; }
form input { height: 1.5em; background: #f1f1f1; }
form input[required] { color: black; background: black;}
select { padding: 0.2em; background: #f1f1f1; }
button {
    margin: 0.5em;
    padding: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: 1.1em;
    color: white;
    background: #560005;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5); box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
button:hover {
    background: #f1f1f1;
    border: 1px solid #560005;
    background: white;
    text-shadow: 1px 1px 0px gray;
    font-weight: bold;
    color: #560005;
}
nav {
    width: 20%;
    float: left;
    //background: gray;
    border: 1px solid #560005;
    padding: 0.5em;
    display: block;
}
.nav-opt {
    font-family: "Monospace";
    display: none;
    margin-left: 2em;
}
.nav-opt-current { display: block; }
.nav-opt a {
    text-decoration: none; 
    display: inline;
}
nav h2 {cursor: pointer;
    font-family: "Sans-serif", Tahoma;
    font-weight: normal;
}
.nav-current:before { content: "→";}
.nav-opt-item-current:before { content: "→";}
nav h2 a {
    text-decoration: none; 
    color: inherit;
}
nav h2 a:active {background: gray;}

#container {padding: 1em; overflow: hidden;}
// .ui-accordion { display: table-cell; width: 20%; margin: 1em;}
#main { border-radius:8px; -moz-border-radius:8px; font:2em; padding: 1em; margin: 0.5em;  background: WHITE; margin-bottom: 1em; text-align: center; -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5); box-shadow: 0 0 6px rgba(0,0,0,0.5); width: 70%; height: 100%; float: left;}

.topbar {text-align: right; width: 100%; background: #560005; color: WHITE; position: absolute; opacity: 1; top: 0; left: 0; right: 0; font-size: 0.8em;}
.topbar a {text-decoration: none; color: WHITE; padding: 1em;}
.topbar .logo {float: left; display: inline; color: WHITE;}

.bottombar {text-align: center; width: 100%; background: #560005; color: WHITE; position: fixed; bottom: 0; left: 0; right: 0; font-size: 0.8em;  -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;}
.bottombar a {text-decoration: none; color: WHITE; padding: 1em;}
.login-main {background-image:url('/images/cow.png'); }
.login-form-box { float: right; width: 40%; height:100%; padding: 2em; }
.login-img {float: left; width:70%; height: 70%;}
